{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module" // Allows for the use of imports
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": "off",
    "no-undef": 2,
    "camelcase": 0,
    "@typescript-eslint/no-explicit-any": "off"
  },
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ]
}
